[role="tooltip"] {
  position: relative;
  display: inline-block;

  &::after {
    content: attr(tooltipText);
    @apply rounded-2xl bg-slate-300 p-4 absolute invisible;
  }
}
[role="tooltip"][position="top"] {
  &::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
[role="tooltip"][position="bottom"] {
  &::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
[role="tooltip"][position="right"] {
  &::after {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
}
[role="tooltip"][position="left"] {
  &::after {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
  }
}
[role="tooltip"]:hover::after {
  @apply visible;
}
