@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200;
  }
  input {
    @apply outline-none border-none;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  canvas {
    @apply p-0 border-none w-full h-full;
  }
}

#app {
  @apply w-full h-screen p-4 flex flex-col gap-2;
}

#header {
  @apply w-full p-2 bg-transparent flex gap-6 items-center;
  & > #brand {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    @apply capitalize text-gray-700 text-2xl font-semibold;
  }
}

#main {
  @apply grid gap-4 h-full;
  grid-template-columns: min-content 1fr;
}

#sidebar {
  @apply p-2 bg-transparent flex flex-col gap-6 text-gray-600;
  & > span {
    @apply cursor-pointer;
  }
}

.canvas-container {
  @apply bg-white rounded-2xl shadow-md;
}
